main {
  font-family: Arial, sans-serif;
  background-color: #FDFFED;
  border: hidden;
  border-radius: 30px;
  height: 1000px;
}

body {
  padding: 500px;
}

h1 {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}
